<?xml version="1.0" encoding="UTF-8"?>
<module>
    <fullnamespace>RewritingUrl\RewritingUrl</fullnamespace>
    <descriptive locale="en_US">
        <title>Rewriting URL</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Réécriture des URL</title>
    </descriptive>
    <version>1.0</version>
    <author>
        <name>Marc LEMARCHAND</name>
        <email>mlemarchand@hubchannel.fr</email>
    </author>
    <type>classic</type>
    <thelia>2.0.0</thelia>
    <stability>alpha</stability>
</module>
